# Node.js
node_modules/

# Build output
build/
dist/
out/

# Logs
logs
*.log

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# Dependency directories
pnpm-debug.log
npm-debug.log
yarn-error.log

# OS-specific files
.DS_Store
Thumbs.db

# Other
*.bak
*.swp
